.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--gray-500);
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1.25rem 2rem;
  text-transform: uppercase;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.content span {
  font-family: "Whitney", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--blue-100);
}

.content img {
  width: 3rem;
}
